<div class="container">
    <form #loginForm="ngForm" class="d-flex mt-2 mt-md-0" (ngSubmit)="login()" 
        autocomplete="off">
        <input 
            name="username"
            [(ngModel)]="loginModel.username"
            class="form-control me-sm-2" 
            type="text" 
            placeholder="Username">
        <input 
            name="password"
            [(ngModel)]="loginModel.password"
            class="form-control me-sm-2" 
            type="password" 
            placeholder="Password">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
</div>